@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

.body{
  font-family: 'Lora', serif;
  color: grey;
}

.App{
  max-width: 900px;
  margin: 0 auto;
}

.title h1{
  color: sandybrown;
  font-weight: normal;
  font-size: 1.5rem;
}

.input{
  display: block;
  margin: auto;
}

.title h2 , .title p{
  text-align: center;
}

.title h2{
  font-size: 2rem;
  margin-top: 50px;
}

.progress-bar{
  height: 5px;
  background-color: sandybrown;
  margin: 20px;
}

.img-grid{
  margin: 20px , auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:40px;
}

.image-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity:0.8
}

.image-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top :0;
  left: 0;
}